@use "../styles/variables" as *;

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-background;
  padding: $spacing-lg;
}
